body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: block;
    border: none;
    box-sizing: border-box;
}
.usernameblock {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 100%;
    float: left;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
}
.loginformcontainer {
    width: 50%;
    max-width: 400px;
    margin: 10% auto;
}
.pswblock {
    width: 100%;
    float: left;
    padding-top: 20px;
}
.inputblock{
    position: relative;
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.container {
    padding: 0;
    width: 1200px;
    margin: 0px auto;
}
span.psw {
    float: left;
    padding-top: 16px;
    text-align: center;
    width: 100%;
}
.psw a {
    color: #4CAF50;
    text-decoration: none;
}
span.symbol-input{
    position: absolute;
    display: block;
    color: #4caf50;
    right: 10px;
    top: -12px;
    font-size: 18px;
}
.inputblock .fa {
    font-size: 30px;
}
.headerBlock {
    background: #4CAF50;
    color: #fff;
    width: 100%;
    float: left;
    padding: 10px 0px;
}
.right_block {
    float: right;
}
.notificationIcon .fa {
    font-size: 23px;
}
.logo_block {
    width: 75%;
    float: left;
    margin-top: 10px;
}
.userProfile {
    float: right;
    padding: 10px;
    background: #fff;
    color: #4caf50;
    border-radius: 50%;
}
.notificationIcon {
    float: left;
    width: 35px;
    margin-top: 8px;
}
.logo_block a{
    color: #fff;
    text-decoration: none;
}
.right_block {
    float: right;
}
.fliterOptions {
    width: 100%;
    background: #ececec;
    float: left;
    padding: 5px 0px;
}
.fliterOptions ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.fliterOptions ul li {
    width: 15%;
    float: left;
}
.Icon .fa {
    font-size: 20px;
}
.fliterOptions select {
    height: 35px;
    font-size: 15px;
    width: 79%;
    border: none;
    background: transparent;
}
.fliterOptions ul li:nth-child(2) select {
    width: 100%;
}
.calendarIcon {
    float: right;
}
.Icon {
    float: left;
    width: 20px;
    margin-right: 20px;
    margin-top: 7px;
}
.fliterOptions ul li {
    list-style: none;
}
.fliterOptions ul li {
    width: 17%;
    float: left;
    border-right: 1px solid #9e9e9e;
    padding-right: 15px;
    margin-right: 15px;
}
select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}
.fliterOptions ul li:last-child {
    border-right: none;
    width: 15%;
}
.date {
    padding: 9px 23px;
}
.fliterOptions ul li:last-child {
    border-right: none;
}
.countBlock ul li:first-child {
    width: 300px;
}
.countBlock ul li {
    display: inline-block;
    padding-right: 10px;
    width: 200px;
}
.locationname {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}
.siteStatus {
    font-size: 16px;
}
.countBlock ul {
    padding: 0;
    width: 100%;
    display: inline-flex;
}
.countBlock ul li:first-child {
    width: 300px;
}
.block {
    position: relative;
}
.number {
    position: absolute;
    display: block;
    color: #000;
    font-weight: bold;
    left: 0;
    top: 9px;
    font-size: 26px;
    text-align: center;
    align-content: center;
}
.extraIcon {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #4caf50;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    padding-bottom: 7px;
    line-height: 1;
    height: 24px;
    margin-top: 6px;
}
.numberRightBlock {
    float: right;
    display: block;
    border: none;
    box-sizing: border-box;
    width: 70%; 
    margin-top: 7px;
}
.title {
    font-size: 15px;
    color: #000;
}
.sitesSubtitle {
    font-size: 13px;
    color: #000;
    opacity: 0.5;
}
.countBlock {
    width: 100%;
    float: left;
    border-bottom: 1px solid #dfdfdf;
}
.countBlock ul li:last-child {
    width: 60px;
}
.slider .title {
    height: 45px;
}
.sliderBlock  .subtitle {
    font-size: 14px;
    color: #000;
    opacity: 0.5;
    min-height: 40px;
    margin-top: 13px;
}
.sliderBlock .block .images {
    width: 70px;
    text-align: center;
    margin: 0px auto;
}
.sliderBlock .block .images img {
    width: 100%;
}
.sliderBlock .block {
    border: 1px solid #dfdfdf;
    width: 108px;
    padding: 7px;
    text-align: center;
    background: #ececec;
    min-height: 150px;
}
.sliderBlock {
    float: left;
    width: 100%;
    margin: 35px 0px;
}
.sliderBlock ul li {
    list-style: none;
    display: inline-flex;
    margin: 0px 10px;
}
.sliderBlock ul {
    padding: 0;
}
.nextSlider {
    width: 25px;
    float: right;
    text-align: right;
    margin-top: 9%;
}
.sliderBlock title {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}
.preSlider {
    width: 55px;
    float: left;
    margin-top: 9%;
}
.sliderBlock ul {
    padding: 0;
    float: left;
}
.sliderBlock .block:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.viewMore {
    width: 25%;
    float: left;
}
.sliderBlock .icon {
    text-align: center;
    width: 34px;
    background: #fff;
    border:1px solid #dfdfdf;
    color: #000;
    height: 26px;
    padding-top: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.sliderBlock .icon:hover {
    background: #4caf50;
    border:1px solid #4caf50;
    color: #fff;
}
.slider  .title {
    font-weight: bold;
}
.subtitle {
    font-size: 14px;
    color: #000;
    opacity: 0.5;
}
.slider {
    max-width: 100%;
    width: 95%;
    margin: 0px auto;
}
.listBlock {
    width: 100%;
    float: left;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin-top: 15px;
}
.listBlock  .content {
    width: 50%;
    float: left;
    color: #000;
    opacity: 0.8;
    margin-top: 15px;
}
img.siteLogo {
    width: 100px;
    margin-bottom: 20px;
}
img.usernameImage {
    width: 26px;
    margin-top: 6px;
}
input[type="text"]:focus, input[type=password]:focus {
    outline: none;
}
.capyRights {
    font-size: 15px;
    color: #000;
    opacity: 0.5;
    text-align: center;
}
.sliderBlock .block .images.communicatingIcon {
    width: 41px;
}
footer {
    padding: 10px 0px;
    width: 100%;
    float: left;
}
.listBlock .row {
    width: 100%;
    float: left;
    border-bottom: 1px solid #dfdfdf;
    padding: 8px 0px;
}
.listBlock .img {
    width: 100px;
    float: left;
    padding-left: 20px;
}
.listBlock .row:last-child {
    border-bottom: none;
}
.viewMore a {
    text-decoration: none;
    color: #4caf50;
}
.viewMore {
    width: 19%;
    float: left;
    margin-top: 24px;
    font-size: 15px;
}
.listBlock .img img{
    width: auto;
}
.map {
    margin-top: 20px;
}
.footerTopBlock {
    float: left;
    width: 100%;
}
.mapBlock.block, .cellDataBlock.block, .staticBlock.block {
    float: left;
    width: 32.33%;
}
.cellDataBlock.block {
    margin: 0px 1.5%;
}
#box-four:target a[href="#box-four"] { color: red; }
.mapBlock.block .title, .cellDataBlock.block .title, .staticBlock.block .title, .mapBlock.block .subtitle, .cellDataBlock.block .subtitle, .staticBlock.block .subtitle{
    text-align: center;
}
.mapBlock.block .title, .cellDataBlock.block .title, .staticBlock.block .title{
    font-size:18px;
    font-weight: bold;
    margin-bottom:5px;
}

.tabs { list-style: none; }
.tabs li { display: inline; }
ul.tabs.group li.active a {
    color: #4caf50;
    opacity: 1;
    border-bottom: 2px solid #4caf50;
}
.tabs li a { 
    color: #000;
    float: left;
    display: block;
    width: 130px;
    margin-left: -1px;
    position: relative;
    left: 1px;
    background: white;
    text-decoration: none;
    text-align: center;
    opacity: 0.5; 
    padding-bottom: 10px;
}
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.box-wrap { position: relative; min-height: 250px; }

ul.tabs.group {
    margin-left: 0px;
    padding-left: 0px;
}
ul.tabs.group li{
    margin-left: 0px;
    padding-left: 0px;
}
.borderImage img {
    width: 50px;
}
.box-wrap .block .numberRightBlock .title {
    text-align: left;
}
.box-wrap .block .numberRightBlock {
    width: 64%;
}
.box-wrap .block .numberRightBlock .title , .box-wrap .block .numberRightBlock .sitesSubtitle{
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    opacity: 1;
}
.borderImage {
    text-align: center;
    width: 100px;
    border: 1px solid #4caf50;
    border-radius: 50%;
    padding: 14px;
    margin: 20px auto; 
}
.box-wrap .block {
    position: relative;
    width: 180px;
    margin: 0px auto;
}
#box-one:target, #box-two:target, #box-three:target {
    z-index: 1;
  }
  .popupTable {
    width: 100%;
  }
  
  .popupTable td, .popupTable th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  
  .popupTable tr:nth-child(even){background-color: #f2f2f2;}
  
  .popupTable tr:hover {background-color: #ddd;}
  
  .popupTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    opacity: 0.7;
    padding: 18px 10px;
  }
  .popupTable td {
    font-size: 14px;
    color: #000;
    opacity: 0.6;
    padding-top: 10px;
    padding-bottom: 10px;
}
td.resolved {
    color: #4caf50;
    opacity: 1;
}
td.pending {
    color: #ffa500;
    opacity: 1;
}
td.medium {
    color: #0089ff;
    opacity: 1;
}
td.low {
    color: #eaba9e;
    opacity: 1;
}
td.highrisk {
    color: #ff0000;
    opacity: 1;
}
.popupTable tr.highRisk {
    background-color: #fbd1d1;
}
  .popupBlockContainer {
    width: 800px;
    margin: 0px auto;
}
.popupBlock {
    width: 100%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #dfdfdf;
}
.popupHeader {
    width: 100%;
    float: left;
    background: #eae9e9;
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 0px;
}
.popupHeader select {
    height: 46px;
    width: 28%;
    margin-left: 20px;
    border-color: #b9b7b7;
}
.popupMainBlock {
    width: 100%;
    float: left;
}
.betteryInformation {
    width: 78px;
    float: right;
}
.popupTable.noHeader table {
    width: 100%;
    margin: 0px;
    border: none;
}
.popupTable.noHeader tr:nth-child(even), .popupTable.noHeader tr:nth-child(even):hover, .popupTable.noHeader tr:hover {
    background-color: #fff;
}
.popupTable.noHeader td {
    opacity: 1;
}
.betteryinfo {
    font-size: 11px;
    color: #000;
    opacity: 0.7;
}
.betteryStatusImage {
    width: 25px;
    float: left;
}
.betteryStatusImage img {
    width: 100%;
}
.sitePercentage {
    float: right;
    display: block;
    color: #000;
    right: 10px;
    margin-top: 11px;
    font-size: 16px;
    padding-right: 10px;
    width: 125px;
    font-weight: bold;
}
.popupTitleBlock {
    float: left;
    display: block;
    width: 100%;
    padding: 15px 0px;
}
.popupTitleLeft {
    float: left;
    display: block;
    padding-left: 10px;
}
.popupTitle {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    opacity: 0.7;
}
.popupTable {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    border-radius: 4px;
}
.popupTable table {
    width: 97%;
    margin: 0px 10px;
    border-collapse: collapse;
    border: 1px solid #dfdfdf;
}

.popupSubTitle {
    font-size: 15px;
    color: #000;
    opacity: 0.5;
}

.meter {
    height: 16px;
    float: right;
    position: relative;
    background: #fff;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 4px;
    padding: 0;
    width: 80px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    border: 1px solid #dfdfdf;
}
.arrows {
    margin-top: 20px;
    float: right;
    padding-right: 20px;
}
span.preicon, span.nexticon {
    padding-right: 10px;
    color: #9a9999;
    cursor: pointer;
}
.popupTable.noHeader {
    margin-bottom: 20px;
}
.meter > span {
    display: block;
    height: 100%;
    float: right;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(43,194,83);
    position: relative;
    overflow: hidden;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}